body{
	margin:0;
	padding:0;
	color:#484848;
	font-size:14px;
	font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media screen and (max-width: 414px){
	.container{
		padding:5px;
	}
}

@media screen and (min-wdith: 45px){
.container{
	max-width:1000px;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content:center;
	flex-direction:column;
}
}

h1, h2, h3, h4, h5, h6{
	margin:0;
}

ul{
	margin:0;
	padding:0;
}

ul li{
	list-style:none;
}
