@import url('5-filters.css');

.filters .locations,
.filters .amenities {
    position:relative;
}
.filters .locations .popover,
.filters .amenities .popover{
    border:1px solid #DDDDDD;
    background-color: #FAFAFA;
    position: absolute;
    top:70px;
    width:100%;
    z-index:99990;
    margin:0;
    padding:0;
    box-sizing: border-box;
    padding-top:10px;
    padding-bottom:20px;
    border-radius: 4px;
    display: none;
}

.filters .locations .popover>li ul {
    margin:0;
    padding:0;
}
.filters .locations .popover>li ul>li{
    padding-left:22px;
}

.filters .locations .popover>li {
    list-style: none;
}

.filters .locations .popover ul li,
.filters .amenities .popover li {
    list-style: none;
}

.filters .locations .popover>li h2 {
    font-size:16px;
    margin-bottom:0px;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}