

    section.places {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    section.places>h1 {
        font-size:30px;
        width:100%;
        margin-bottom:0px;
    }

    section.places article {
        width: 390px;
        margin:20px;
        padding:20px;
        border:1px solid #FF5A5F;
        border-radius: 4px;
        min-height:330px;
    }

    section.places article>h2 {
        font-size:30px;
        text-align: center;
    }


@media screen and (max-width: 639px) {
    section.places article {
        width:100%;
    }

    section.places>h1 {
        text-indent: 10px;
        margin-left:10px;
    }

    section.places>h1 {
        font-size:2em;
        width:100%;
        margin-bottom:0px;
    }

    section.places article {
        width: 390px;
        margin:20px;
        padding:20px;
        border:1px solid #FF5A5F;
        border-radius: 4px;
        min-height:330px;
    }

    section.places article>h2 {
        font-size:2em;
        text-align: center;
    }
}